.player-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px;
	display: flex;
	background: black;
	opacity: 0.75;
}
.player-progress-container {
	height: 10px;
	background: white;
	display: inline-block;
	margin: auto 5px;
	flex: 0 0 25%;
}
.player-progress-value {
	height: 10px;
	background: blue;
}
.player-buttons {
	display: flex
}
.artist-info {
	display: inline-block;
	margin: 0 5px;
}

.player-btn {
	color: white;
	margin: auto 2px;
	display: flex;
}

i.fa {
	margin: auto;
}